body {
    margin: 0;
    padding: 6% 5%;
    background-color: #f9fafc;
    font-family: 'Open Sans', sans-serif;
    color: #69696a;
}

a {
    text-decoration: none;
    color: #69696a;
    padding: 1%;
    width: auto;
}

nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 3% 0;
}

main {
    padding-bottom: 2%;
}

.chirpus-link {
    width: 100%;
    color: #000;
}

.chirpus-title {
    color: #000;
    font-size: 2em;
}

.button-link {
    background-color: #000;
    color: #f9fafc;
    border-radius: 30px;
    display: inline-block;
    width: 100%;
    line-height: 40px;
    text-align: center;
    margin-top: 10px;
}

.chirpus-content {
    border-left: 3px solid #69696a;
    padding-left: 20px;
}

/* For tablet */
@media only screen and (min-width: 768px) {
    body {
        margin: 0;
        padding: 3%;
    }

    header {
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
    }

    .chirpus-link {
        width: 15%;
    }

    a {
        padding: 0px 10px;
    }

    nav {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding: 0;
    }

    footer {
        position: absolute;
        left: 50%;
        bottom: 4%;
        transform: translateX(-50%);
    }

    .button-link {
        width: 100px;
        margin: 0;
        margin-left: 12px;
    }

    .chirpus-content {
        width: 80%;
    }

/* For desktop */
@media only screen and (min-width: 992px) {
    .chirpus-content {
        width: 55%;
    }

    .circles {
        position: relative;
        width: 280px;
        height: 280px;
        float: right;
    }
    
    .red-circle {
        background-color: rgba(247, 136, 167, 0.6);
        height: 280px;
        width: 280px;
        border-radius: 50%;
        position: absolute;
        right: 30%;
        top: -50%;
    }
    
    .purple-circle {
        background-color: rgba(207, 130, 213, 0.6);
        height: 140px;
        width: 140px;
        border-radius: 50%;
        position: absolute;
        right: 0%;
        top: -35%;
    }
    
    .orange-circle {
        background-color: rgba(247, 193, 162, 0.7);
        height: 180px;
        width: 180px;
        border-radius: 50%;
        position: absolute;
        right: 0%;
        top: 5%;
    }
}